.cover__link {
    width: 92.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../../../images/cover-background.png);
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1024px) {
    .cover__link {
        width: 100%;
    }
}