@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
    padding-top: 65px;
    width: 76.9%;
    height: 1005px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1024px) {
    .lead {
        padding-top: 48px;
        width: 90.6%;
        height: 962px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        width: 100%;
        max-height: 862px;
    }
}

@media screen and (max-width: 425px) {
    .lead {
        width: 100%;
        max-height: 406px;
        padding-top: 52px;
    }
}